.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista__container {
    width: 620px;
    min-height: 500px;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
    background-color: #d0d0d5;
}

.lista__title {
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
    color: #1b1b32;
    user-select: none;
}

@media screen and (max-width: 400px){
    .lista__container {
        padding: 16px;
        width: 320px;
        
    }
    .tarea__btn, .tarea__input {
        font-size: 16px!important;
    }
}